body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u6959 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u6961 {
  position:absolute;
  left:425px;
  top:95px;
  width:375px;
  height:22px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(55, 58, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 58, 65, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6963 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:53px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u6965 {
  position:absolute;
  left:439px;
  top:133px;
  width:13px;
  height:22px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6967 {
  position:absolute;
  left:456px;
  top:133px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6969 {
  position:absolute;
  left:502px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6971 {
  position:absolute;
  left:757px;
  top:129px;
  width:30px;
  height:30px;
}
#u6972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6973 {
  position:absolute;
  left:426px;
  top:170px;
  width:373px;
  height:583px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:284px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6975 {
  position:absolute;
  left:441px;
  top:394px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6977 {
  position:absolute;
  left:441px;
  top:187px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6979 {
  position:absolute;
  left:441px;
  top:216px;
  width:347px;
  height:134px;
}
#u6979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:134px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6980 {
  position:absolute;
  left:442px;
  top:423px;
  width:346px;
  height:56px;
}
#u6980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6981 {
  position:absolute;
  left:442px;
  top:509px;
  width:346px;
  height:40px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6983 {
  position:absolute;
  left:578px;
  top:134px;
  width:69px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985 {
  position:absolute;
  left:425px;
  top:117px;
  width:72px;
  height:53px;
  opacity:0;
}
#u6986 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
