body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u6020 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u6021 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u6022 {
  position:absolute;
  left:425px;
  top:95px;
  width:375px;
  height:22px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(55, 58, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 58, 65, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6024 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:53px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u6026 {
  position:absolute;
  left:439px;
  top:133px;
  width:13px;
  height:22px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6028 {
  position:absolute;
  left:456px;
  top:133px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6030 {
  position:absolute;
  left:502px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6032 {
  position:absolute;
  left:757px;
  top:129px;
  width:30px;
  height:30px;
}
#u6033 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6034 {
  position:absolute;
  left:578px;
  top:134px;
  width:69px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6036 {
  position:absolute;
  left:425px;
  top:170px;
  width:375px;
  height:585px;
  overflow:hidden;
  touch-action:none;
}
#u6036_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6036_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  overflow:hidden;
  touch-action:none;
}
#u6037_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6037_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6038 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  overflow:hidden;
}
#u6038_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u6038_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6039 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:66px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:25px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6041 {
  position:absolute;
  left:12px;
  top:26px;
  width:56px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6043 {
  position:absolute;
  left:68px;
  top:24px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6045 {
  position:absolute;
  left:292px;
  top:20px;
  width:74px;
  height:32px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6047 {
  position:absolute;
  left:1px;
  top:133px;
  width:374px;
  height:264px;
}
#u6048 {
  position:absolute;
  left:2px;
  top:124px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6049 {
  position:absolute;
  left:12px;
  top:145px;
  width:91px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6051 {
  position:absolute;
  left:12px;
  top:177px;
  width:354px;
  height:1px;
}
#u6052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6053 {
  position:absolute;
  left:12px;
  top:193px;
  width:279px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6055 {
  position:absolute;
  left:263px;
  top:202px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6056 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6057 {
  position:absolute;
  left:12px;
  top:222px;
  width:214px;
  height:16px;
  color:#666666;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6059 {
  position:absolute;
  left:12px;
  top:252px;
  width:354px;
  height:1px;
}
#u6060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6061 {
  position:absolute;
  left:12px;
  top:265px;
  width:279px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6062 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6063 {
  position:absolute;
  left:263px;
  top:274px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6065 {
  position:absolute;
  left:12px;
  top:294px;
  width:214px;
  height:16px;
  color:#666666;
}
#u6066 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u6067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6067 {
  position:absolute;
  left:12px;
  top:324px;
  width:354px;
  height:1px;
}
#u6068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6069 {
  position:absolute;
  left:12px;
  top:337px;
  width:279px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6071 {
  position:absolute;
  left:263px;
  top:346px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6073 {
  position:absolute;
  left:12px;
  top:366px;
  width:214px;
  height:16px;
  color:#666666;
}
#u6074 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6075 {
  position:absolute;
  left:116px;
  top:407px;
  width:147px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u6076 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  position:absolute;
  left:2px;
  top:77px;
  width:374px;
  height:46px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:15px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6079 {
  position:absolute;
  left:12px;
  top:91px;
  width:91px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u6081 {
  position:absolute;
  left:353px;
  top:89px;
  width:13px;
  height:23px;
}
#u6082 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6083 {
  position:absolute;
  left:425px;
  top:117px;
  width:72px;
  height:53px;
  opacity:0;
}
#u6084 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u6086 {
  position:absolute;
  left:894px;
  top:0px;
  width:425px;
  height:850px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u6088 {
  position:absolute;
  left:919px;
  top:96px;
  width:374px;
  height:22px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(55, 58, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 58, 65, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6091 {
  position:absolute;
  left:919px;
  top:118px;
  width:375px;
  height:53px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u6093 {
  position:absolute;
  left:933px;
  top:133px;
  width:13px;
  height:22px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6095 {
  position:absolute;
  left:950px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6097 {
  position:absolute;
  left:996px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6098 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6099 {
  position:absolute;
  left:1251px;
  top:129px;
  width:30px;
  height:30px;
}
#u6100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6101 {
  position:absolute;
  left:1072px;
  top:134px;
  width:69px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6103 {
  position:absolute;
  left:919px;
  top:170px;
  width:375px;
  height:585px;
  overflow:hidden;
  touch-action:none;
}
#u6103_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6103_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6104 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  overflow:hidden;
  touch-action:none;
}
#u6104_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1314px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6104_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6105 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  overflow:hidden;
}
#u6105_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1313px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u6105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6106 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:66px;
}
#u6107 {
  position:absolute;
  left:2px;
  top:25px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6108 {
  position:absolute;
  left:12px;
  top:26px;
  width:56px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6109 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6110 {
  position:absolute;
  left:68px;
  top:24px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6111 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6112 {
  position:absolute;
  left:1px;
  top:133px;
  width:374px;
  height:127px;
}
#u6113 {
  position:absolute;
  left:2px;
  top:56px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6114 {
  position:absolute;
  left:12px;
  top:145px;
  width:91px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u6115 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u6116 {
  position:absolute;
  left:12px;
  top:177px;
  width:354px;
  height:1px;
}
#u6117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u6118 {
  position:absolute;
  left:49px;
  top:204px;
  width:279px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u6119 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6120 {
  position:absolute;
  left:292px;
  top:20px;
  width:74px;
  height:32px;
}
#u6121 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u6122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6122 {
  position:absolute;
  left:2px;
  top:77px;
  width:374px;
  height:46px;
}
#u6123 {
  position:absolute;
  left:2px;
  top:15px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6124 {
  position:absolute;
  left:12px;
  top:91px;
  width:91px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6125 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u6126 {
  position:absolute;
  left:353px;
  top:89px;
  width:13px;
  height:23px;
}
#u6127 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
