body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u6201 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u6202 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u6203 {
  position:absolute;
  left:425px;
  top:95px;
  width:375px;
  height:22px;
}
#u6204 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(55, 58, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 58, 65, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6205 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:53px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u6207 {
  position:absolute;
  left:439px;
  top:133px;
  width:13px;
  height:22px;
}
#u6208 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6209 {
  position:absolute;
  left:456px;
  top:133px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6211 {
  position:absolute;
  left:502px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u6212 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6213 {
  position:absolute;
  left:757px;
  top:129px;
  width:30px;
  height:30px;
}
#u6214 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6215 {
  position:absolute;
  left:426px;
  top:211px;
  width:374px;
  height:159px;
}
#u6216 {
  position:absolute;
  left:2px;
  top:72px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u6217 {
  position:absolute;
  left:439px;
  top:261px;
  width:349px;
  height:1px;
}
#u6218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6219 {
  position:absolute;
  left:439px;
  top:229px;
  width:88px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6220 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u6221 {
  position:absolute;
  left:439px;
  top:311px;
  width:349px;
  height:1px;
}
#u6222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6223 {
  position:absolute;
  left:439px;
  top:282px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6224 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6225 {
  position:absolute;
  left:439px;
  top:384px;
  width:349px;
  height:40px;
}
#u6226 {
  position:absolute;
  left:2px;
  top:12px;
  width:345px;
  word-wrap:break-word;
}
#u6227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6227 {
  position:absolute;
  left:675px;
  top:216px;
  width:113px;
  height:40px;
}
#u6228 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u6229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6229 {
  position:absolute;
  left:425px;
  top:117px;
  width:72px;
  height:53px;
  opacity:0;
}
#u6230 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6231 {
  position:absolute;
  left:439px;
  top:186px;
  width:247px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6232 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u6233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6233 {
  position:absolute;
  left:439px;
  top:330px;
  width:154px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6234 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u6235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6235 {
  position:absolute;
  left:576px;
  top:133px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6236 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
