body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u7015 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u7017 {
  position:absolute;
  left:425px;
  top:96px;
  width:374px;
  height:22px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7019 {
  position:absolute;
  left:426px;
  top:165px;
  width:374px;
  height:590px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:287px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7021 {
  position:absolute;
  left:439px;
  top:236px;
  width:349px;
  height:1px;
}
#u7021_img.selected {
}
#u7021.selected {
}
#u7022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7023 {
  position:absolute;
  left:439px;
  top:286px;
  width:349px;
  height:1px;
}
#u7023_img.selected {
}
#u7023.selected {
}
#u7024 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7025 {
  position:absolute;
  left:439px;
  top:360px;
  width:349px;
  height:40px;
  font-size:16px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u7027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7027 {
  position:absolute;
  left:675px;
  top:191px;
  width:113px;
  height:40px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u7029 {
  position:absolute;
  left:439px;
  top:196px;
  width:226px;
  height:30px;
}
#u7029_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7030 {
  position:absolute;
  left:439px;
  top:247px;
  width:226px;
  height:30px;
}
#u7030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7031 {
  position:absolute;
  left:439px;
  top:338px;
  width:349px;
  height:1px;
}
#u7031_img.selected {
}
#u7031.selected {
}
#u7032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033 {
  position:absolute;
  left:439px;
  top:299px;
  width:226px;
  height:30px;
}
#u7033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7034 {
  position:absolute;
  left:439px;
  top:410px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7036 {
  position:absolute;
  left:501px;
  top:727px;
  width:225px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7038 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:48px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7040 {
  position:absolute;
  left:598px;
  top:130px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7042 {
  position:absolute;
  left:441px;
  top:130px;
  width:15px;
  height:25px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u7044 {
  position:absolute;
  left:886px;
  top:174px;
  width:420px;
  height:152px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u7045 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7046 {
  position:absolute;
  left:859px;
  top:174px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u7047 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7048 {
  position:absolute;
  left:886px;
  top:360px;
  width:300px;
  height:146px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:65px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7050 {
  position:absolute;
  left:940px;
  top:401px;
  width:193px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7052 {
  position:absolute;
  left:886px;
  top:456px;
  width:150px;
  height:50px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u7054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCB4C;
}
#u7054 {
  position:absolute;
  left:1035px;
  top:456px;
  width:151px;
  height:50px;
  color:#FFCB4C;
}
#u7055 {
  position:absolute;
  left:2px;
  top:17px;
  width:147px;
  word-wrap:break-word;
}
