body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u7074 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u7076 {
  position:absolute;
  left:425px;
  top:95px;
  width:375px;
  height:22px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(55, 58, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(55, 58, 65, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7078 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:53px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u7080 {
  position:absolute;
  left:439px;
  top:133px;
  width:13px;
  height:22px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7082 {
  position:absolute;
  left:456px;
  top:133px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7084 {
  position:absolute;
  left:502px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7086 {
  position:absolute;
  left:757px;
  top:129px;
  width:30px;
  height:30px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7088 {
  position:absolute;
  left:426px;
  top:170px;
  width:374px;
  height:585px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:284px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7090 {
  position:absolute;
  left:439px;
  top:236px;
  width:349px;
  height:1px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u7092 {
  position:absolute;
  left:439px;
  top:286px;
  width:349px;
  height:1px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:439px;
  top:319px;
  width:349px;
  height:40px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:12px;
  width:345px;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7096 {
  position:absolute;
  left:425px;
  top:117px;
  width:72px;
  height:53px;
  opacity:0;
}
#u7097 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7098 {
  position:absolute;
  left:604px;
  top:134px;
  width:35px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7100 {
  position:absolute;
  left:439px;
  top:196px;
  width:226px;
  height:30px;
}
#u7100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7101 {
  position:absolute;
  left:439px;
  top:247px;
  width:226px;
  height:30px;
}
#u7101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7102 {
  position:absolute;
  left:439px;
  top:373px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7104 {
  position:absolute;
  left:753px;
  top:373px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
